@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body{
    display:flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.content{
    display: flex;
    flex-direction: column;
    flex:1;
}


.first-block img{
    width: 500px;
    height: 250px;
}

.first-block h1{
    margin-bottom: 0;
}

.first-right{
    display: flex;
    flex-direction: column;
    gap: 0;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding-top: 0px;
}

.header h3{
    font-size: 24px;
    color: #F9FAF8;
}


.header a{
    color: #e5e7eb;
    text-decoration: none;
    padding: 16px;
}

.subtext1{
    color: #e5e7eb;
}


.all-headers{
    padding-right: 8px;
}

.first-block{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 20px;
    padding-bottom: 50px;
}

.first-block h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.second-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images{
    display: flex;
    flex-direction: row;
}

.images .img-block{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.images p{
    margin-top: 0;
    padding-left: 24px;
}

.images img{
    width: 200px;
    height: 200px;
    padding: 0;
    border-radius: 20px;
    margin: 16px;
    border: 8px solid #3882f6
}


.third-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
}

.third-block p{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight:lighter;
}

.fourth-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    margin: 50px 100px;
    border-radius: 20px;
    color: white;
}

.action-area{
    display: flex;
    flex-direction: column;
}

.action-area h3{
    margin-bottom: 0;
}

.action-area p{
    margin-top: 5px;
}

.sign-up-button button{
    background-color: #3882f6;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
    width: 150px;
    border-color: white;
}

.footer{
    background-color: #1f2937;
    flex-shrink: 0; 
    display: flex;
    justify-content: center;
    color: #F9FAF8;
}